<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <img  src="img/humas.png" alt="irfan" class="img-thumbnail" width="auto">
            <h1 class="display-4">Irfannudin Ihsan</h1>
            <p class="lead">Backend Developer</p>
        </div>
    </div>
</div>
